.termos {
	padding-top: 80px;
	padding-bottom: 80px;
}

.termos h2 {
	font-weight: 600;
}

.termos p + h2 /*Aplica estilos ao <h2> que é o irmão adjacente imediato de <p>.*/
{
	margin-top: 40px;
}

.termos p {
	max-width: 75ch;
	margin-bottom: 24px;
}